name: exaquery_metabase
granularity: 200
threshold: 10
base:
    queries: |
        select
            concat(ss.user_name,' ', ss.host,' ', coalesce(mbu.email, os_user)) as gr,
            concat(sq.command_class, '_', coalesce(sq.session_id, cast(random(1000000000, 10000000000) as int)), '_', sq.stmt_id) as box_id,
            sq.command_class as modifier,
            sq.success as flag,
            coalesce(sq.cpu, 0) as metric,
            sq.start_time,
            sq.stop_time
        from
            (select session_id, stmt_id, command_class, sql_text, error_text, success, cpu, posix_time(start_time) as start_time, posix_time(stop_time) as stop_time from EXA_DBA_AUDIT_SQL sss where sss.start_time < from_posix_time({{ stop_time }}) and sss.stop_time >= from_posix_time({{ start_time }}) union all 
             select session_id, stmt_id, 'RUNNING' as command_class, sql_text, remarks as error_text, true as success, max(cpu) as cpu, min(posix_time(now()) - duration) as start_time, posix_time(now()) as stop_time from exa_dba_profile_running group by 1,2,3,4,5) sq
            left join EXA_DBA_AUDIT_SESSIONS ss on ss.session_id = sq.session_id
            left join revolut.metabase_users mbu on substr(regexp_substr(sql_text, '-- Metabase:: userID: ([0-9]+)'), 23) = mbu.id
            where sq.start_time < {{ stop_time }} and sq.stop_time >= {{ start_time }}
            and (ss.logout_time is null or ss.logout_time >= from_posix_time({{start_time}})) 
            and ss.login_time <= from_posix_time({{stop_time}})
            {% if q  %}
            and (LOWER(sq.sql_text) LIKE '%{{q}}%' or LOWER(sq.error_text) LIKE '%{{q}}%')
            {% endif %}
            order by null
    sessions: |
        select
            concat(ss.user_name,' ', ss.host,' ', os_user) as gr,
            concat('SESSIONSTART', '_', coalesce(ss.session_id, cast(random(1000000000, 10000000000) as int)), '_0') as box_id,
            'SESSIONSTART' as modifier,
            ss.success as flag,
            0 as metric,
            posix_time(ss.login_time) as start_time,
            posix_time(ss.login_time)+0.1 as stop_time
        from 
            EXA_DBA_AUDIT_SESSIONS ss
        where ss.login_time between from_posix_time({{start_time}}) and from_posix_time({{stop_time}})
        {% if q  %}
          and (ss.error_text LIKE '%{{q}}%')
          {% endif %}
          order by null
    base: |
        select * from sessions
        UNION ALL 
        select * from queries
info:
    info: |
        select sq.*, 
            ss.login_time, coalesce(ss.logout_time, now()), ss.user_name, ss.client, ss.driver, ss.encrypted, ss.host, coalesce(mbu.email, ss.os_user) as os_user,
           ss.os_name, ss.success as session_success
            from (select session_id, stmt_id, command_name, command_class, duration, start_time, stop_time, cpu, temp_DB_RAM_PEAK, PERSISTENT_DB_RAM_PEAK, HDD_READ, HDD_WRITE, NET, SUCCESS, ERROR_CODE, ERROR_TEXT, SCOPE_SCHEMA, PRIORITY, NICE, RESOURCES,ROW_COunt, EXECUTION_MODE, SQL_TEXT from EXA_DBA_AUDIT_SQL 
                UNION ALL
                select session_id, stmt_id, command_name, command_class, duration, now() - duration as start_time, now() as stop_time, cpu, temp_DB_RAM_PEAK, PERSISTENT_DB_RAM_PEAK, HDD_READ, HDD_WRITE, NET, true as SUCCESS, '' as ERROR_CODE, '' as ERROR_TEXT, object_schema as SCOPE_SCHEMA, '-' as PRIORITY, FALSE as NICE, 0 as RESOURCES,out_rows as ROW_COunt, concat(part_info, ' ', remarks) as EXECUTION_MODE, SQL_TEXT 
                from exa_dba_profile_running where not part_finished
            ) sq
                left join EXA_DBA_AUDIT_SESSIONS ss on ss.session_id = sq.session_id
                left join revolut.metabase_users mbu on substr(regexp_substr(sql_text, '-- Metabase:: userID: ([0-9]+)'), 23) = mbu.id
        where 
            ss.session_id={{box_id.split("_")[1]}} 
            {% if box_id.split("_")[0] != 'SESSIONSTART' %}
                and sq.stmt_id={{box_id.split("_")[2]}}                 
            {% endif %}
        order by sq.session_id, sq.stmt_id limit 1
    profile: |
        select * from (
        SELECT session_id, stmt_id, command_name, command_class, part_id, part_name, part_info, object_schema, object_name, object_rows, in_rows, out_rows, duration, remarks
            FROM "$EXA_PROFILE_LAST_DAY"
        union all 
        select session_id, stmt_id, command_name, command_class, part_id, part_name, part_info, object_schema, object_name, object_rows, object_rows as in_rows, out_rows, duration, remarks 
            from exa_dba_profile_running
        )
            WHERE session_id={{box_id.split("_")[1]}}
                {% if box_id.split("_")[0] != 'SESSIONSTART' %}
                    AND stmt_id ={{box_id.split("_")[2]}}
                    {% endif %}
        order by session_id, stmt_id, part_id

flush: flush statistics
