.BackgroundRect{
    background-color: white;
    fill: white;
}

.GestureHandler{
    pointer-events: all;
}

.TimeMarker {
    stroke: #999;
    stroke-width: 0.5;
    stroke-dasharray: 2 2;
    pointer-events: all;
}