$queryTypes: (
  RUNNING: #ffb0fc,
  TRANSACTION: #8c564b,
  //COMMIT, ROLLBACK
    DQL: #2ca02c,
  //SELECT
    OTHER: #7f7f7f,
  //OPEN SCHEMA, ALTER SESSION, FLUSH STATISTICS, DESCRIBE, NO OP
    DML: #bcbd22,
  //TRUNCATE TABLE, INSERT, DELETE, IMPORT, EXPORT, MERGE, UPDATE
    DDL: #ff7f0e,
  //DROP TABLE, CREATE TABLE, DROP VIEW, CREATE VIEW
    UNKNOWN: #17becf,
  //NOT SPECIFIED
    DCL: #e377c2,
  //GRANT OBJECT"
    SESSIONSTART: #fbceb1,
  User: #8c564b,
  //COMMIT, ROLLBACK
    KycTransaction: #2ca02c,
  //SELECT
    ComplianceAnalysis: #7f7f7f,
  //OPEN SCHEMA, ALTER SESSION, FLUSH STATISTICS, DESCRIBE, NO OP
    Chargeback: #bcbd22,
  //TRUNCATE TABLE, INSERT, DELETE, IMPORT, EXPORT, MERGE, UPDATE
    Business: #ff7f0e
);
