.QueryInfo {
  --TRANSACTION: #8c564b; /*COMMIT, ROLLBACK */
  --DQL: #2ca02c; /*SELECT */
  --OTHER: #7f7f7f; /*OPEN SCHEMA, ALTER SESSION, FLUSH STATISTICS, DESCRIBE, NO OP */
  --DML: #bcbd22; /*TRUNCATE TABLE, INSERT, DELETE, IMPORT, EXPORT, MERGE, UPDATE */
  --DDL: #ff7f0e; /*DROP TABLE, CREATE TABLE, DROP VIEW, CREATE VIEW */
  --UNKNOWN: #17becf; /*NOT SPECIFIED */
  --DCL: #e377c2; /*GRANT OBJECT */

  --BORDER: #999;
}
.QueryInfo dl {
  /*border: 1px solid var(--BORDER); */
  padding: 5px;
  width: 100%;
  /*max-height: 90%;
    overflow-y: scroll; */
}
.QueryInfo dt {
  width: 30%;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  height: 18px;
}
.real_read{
  color: red;
}

.QueryInfo dd {
  background-color: white;
  font-size: 12px;
  width: 70%;
  margin-inline-start: 0;
  display: inline-block;
}

pre {
  counter-reset: line;
  background-color: white;
  border: 1px solid #999;
}
code {
  counter-increment: line;
  display: block;
  border-bottom: 1px dashed #ddd;
  width: 100%;
}
code:hover {
  background-color: #ddd;
}
code:before {
  content: counter(line);
  width: 30px;
  display: inline-block;
  color: #999;
}

.sql_text,
.error_text {
  font-size: 11px;
  max-height: 400px;
  overflow-y: scroll;
  border: 1px dashed #999;
  padding: 15px;

  /*background-color: #EEEEEE; */
}

.error_text {
  color: red;
}
.QueryInfo tt {
  background-color: #efefef;
  padding: 1px;
  margin-left: 3px;
}
.command_class tt {
  padding: 1px;
  border-width: 3px;
  border-style: solid;
  margin: 1px;
  height: 30px;
}
.command_class.TRANSACTION tt {
  border-color: var(--TRANSACTION);
}
.command_class.DQL tt {
  border-color: var(--DQL);
}
.command_class.OTHER tt {
  border-color: var(--OTHER);
}
.command_class.DML tt {
  border-color: var(--DML);
}
.command_class.DDL tt {
  border-color: var(--DDL);
}
.command_class.UNKNOWN tt {
  border-color: var(--UNKNOWN);
}
.command_class.DCL tt {
  border-color: var(--DCL);
}

.profile {
  /*width: 2000px; */
  padding: 10px;
  width: 900px;
  background-color: white;
  font-size: 9px;

  .rdt_Table{
    
  }

  .rdt_TableHeadRow{
    min-height: auto;
    padding-bottom: 5px;
  }

  .rdt_TableCol{
    font-size: 10px;
    padding-left: 2px;
    padding-right: 0px;
  }

  .rdt_TableCell{
    font-size: 8px;
    padding-left: 2px;
    padding-right: 0px;
  }
  .rdt_TableRow{
    padding-top: 3px;
    
    padding-bottom: 3px;
    min-height: auto;
    &:hover{
      background-color: #efefef;
    }
  }
}
